@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  /* Define the keyframes */
  --animate-orbit: orbit 20s linear infinite;
  --animate-counter-orbit: counter-orbit 20s linear infinite;

  @keyframes orbit {
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes counter-orbit {
    to {
      transform: rotate(-360deg);
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}